.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  width: 90%;
  max-width: 1200px;
}

.grid-col {
  border: solid;
  border-width: 1px;
  border-color: white;
  padding: 20px;
  /* text-align: center; */
  border-radius: 5px;
  width: 100%;
}

/* Quiz List */
.quiz {
  padding: 5px;
  border: none;
  border-radius: 15px;
}

.quiz:hover {
  background-color: gray;
}

/* Form */
.form {
  font-size: medium;
}

.form-group {
  /* margin-bottom: 15px;
  margin-right: 0.5rem; */
  padding: 5px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  margin: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
